/*Header*/
header{
    display: flex;
    width: 1440px;
    height: 777px;
    background-color: #fff2f3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position:relative;
}
h1{
    color: #252B42;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px; 
    
}
.navbar {
    width: 1322px;
    height: 91px;
    align-items: center;
    position: absolute;
    top: 20px;
    display:inline-block;
}

.navbar_brand {
    display: inline-block;
    width: 187px;
    height: 58px;
    padding: 13px, 46px, 13px, 0px;
    align-items: center;
    position:absolute;
    left:136px;
    top: 17px;
}
.navbar_list {
    display: inline-block;
    width: 815px;
    height: 58px;
    padding-top: 3px;
    word-spacing: 21px;
    gap: 240px;
    position: absolute;
    top: 16px;
    left: 364px;
}
.navbar_login {
    display: flex;
    align-items: center;
    gap: 45px;
    width: 214px;
    height: 52px;
}
.button {
    display: flex;
    padding: 15px 25px;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    background: var(--primary-color, #96BB7C);
    icn arrow-right .icn-xs Icon · 12  x 10
}
    /*Nav*/
    nav{
    text-align: left;
}
nav ul{
    list-style:none;
    text-align: left;
    padding-left: 0px;
    width:auto;
}
    nav ul li {
        display: inline-block;
        color: var(--second-text-color, #737373);
        text-align: center;
        text-decoration: none;
        /* link */
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.2px;
    }
