.container{
    margin: 0 auto;
    width: 1440px;
    height: 100%; 
    background: url(/img/BG.svg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
nav{
    display: flex;
    margin-top:24px;
    justify-content: center;
}
/*Button*/
.button-left{
    width:80px;
    height:80px;
    border-radius: 30px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    padding: 28px;
}
.button-middle{
    width:80px;
    height:80px;
    border-radius: 30px;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
}
.button-right{
    display: flex;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    padding: 28px;
}
/*middle*/
.middle{
    display: flex;
    flex-direction: row;
    height: 700px;
    flex-wrap: wrap;
}
.text{
    padding-top:91px;
    margin-left:120px;
    width:35%;
}
h1{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px; 
}
p{
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: -0.24px; 
}
.text-bottom{
    display: flex;
}
.trusted{
    flex-grow: 1;
}
.tech{

}
.download{
    margin-top: 40px;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    display: flex;
    height: 64px;
    width: 280px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 32px; 

    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;     
}
/*Cards*/
.floating-card1{
    padding: 16px;
    gap: 10px; 
    border-radius: 32px;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
    position: absolute;
    top: 380px;
    left: 1130px;
    height: 197px;
    width: 155px;
}
.floating-card2{
    display: flex;
    width: 158px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
    background: var(--osler-gray-white, #FFF);
    position: absolute;
    top: 600px;
    left: 1130px;
}
/*Frame*/
.frame{
    padding-left: 47px;
    flex-shrink: 0; 
    display: flex;

}
/*Bottom*/
.bottom{

}
.gradiant{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    height: 149px;
}  
/*Universal*/
.flex{
    display: flex;
}
